.lowhide {
	display: none;
}
.breit {
		width: 100%;
	}
* {
    box-sizing: border-box;
}

.txtcntr {
	text-align: center;
}

.video {
	height: calc((100vw - 16px)/2.37037);
	padding: none;
}

.abcol {
	padding: 10px;
}

.center {
	margin-left:auto;
	margin-right:auto;
}

p {
	font-size: 140%;
}

.karte {
	width: 90%;
}

#strbtn {
	height: 100%;
	width: 100%;
}

.chat {
	height: calc(100vh - 380px);
	overflow-y: auto;
	position: relative;
	display: table-cell;
	vertical-align: bottom;
	width: 100%;
	padding: 15px;
}

.chat2 {
	height: 100px;
	overflow-y: auto;
	position: relative;
	display: table-cell;
	vertical-align: bottom;
	width: 100%;
	padding: 15px;
}
.inline {
	display: inline-block;
}

.message {
	margin: 1px 0px;
	line-height: 2.2em;
	overflow-y: auto;
	max-height: 100%;
}





@media only screen and (max-width: 840px) {

	.video {
	height: calc((100vw - 32px)/1.77777);
	}

	.chat {
	height: 100px;
}

}