.lowhide {
	width: 13%;
}
.breit {
		width: 74%;
	}
* {
    box-sizing: border-box;
}

.txtcntr {
	text-align: center;
}

.video {
	height: 90vh;
}

.abcol {
	padding: 10px;
}

.center {
	margin-left:auto;
	margin-right:auto;
}

@media only screen and (max-width: 840px) {

	.video {
	height: 35vh;
	}



}

	


	


@media only screen and (max-width: 1430px) {
	
	.lowhide {
		display: none;
	}
	
	.breit {
		width: 100%;
	}
	
	
}



@media only screen and (max-width: 1022px) {
	
	.lowhide {
		display: none;
	}
	
	.breit {
		width: 100%;
	}
	
	.tablethide {
		display: none;
	}
	
	.tabletbreit {
		width: 100%;
	}
}
